* {
    margin: 0;
    padding: 0;
    font-family: Geologica, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    font-size: 21px;
}

p {
    font-size: 0.8em;
}


header {
    display: flex;
}

.anchoredHeaderElement>a {
    text-decoration: none;
    padding-top: 10px;
}

.header_text {
    font-size: 1rem;
    text-decoration: none;
}

.Container_Header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.anchoredHeaderElement {
    display: flex;
    align-items: center;
}

#search_favorites_login {
    position: absolute;
    right: 0;
    top: 20px;
}

#anchoredHeaderElement__login {
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding: 0px 10px 0 10px;
}

#anchoredHeaderElement__login>h3 {
    position: relative;
    top: 5px;
}

.controlMainCasousel {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.controlMainCasousel > input {
    transform: scale(1.5);
    accent-color: var(--main_color);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smallText {
    width: 85%;
}

.main__section {
    width: 85%;
    margin: 20px 0 90px 0;
}

.featured {
    width: 100%;
}

.featured>h2 {
    padding-left: 50px;
}

.h3PlusButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 60px;
    margin: 0 0 20px 0;
}

.imageHolderDiv>img {
    margin: 41px 0 41px;
    width: 100%;
    border-radius: 10px;
}

.anchoredButton {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 145px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
}

.footer_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

ul {
    margin: 0 10px 30px 0;
}

.footerSection_div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.second_footer {
    padding: 10px;
    width: 100%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.linkToOther {
    text-decoration: none;
    color: black;
}

.kirby {
    height: 130px;
    width: 100%;
    position: relative;
}

.kirby>img {
    height: 200px;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.4;
}

@media screen and (max-width:600px) {

    .controlMainCasousel {
    display: none;
    justify-content: center;
    gap: 70px;
}

    .kirby {
        display: none;
    }



    .footerSection_div {
        display: flex;
        flex-wrap: wrap;

    }

    header {
        background-color: var(--main_color);
    }

    .Container_Header>div {
        display: none;
    }

    .anchoredButton {
        width: 350px;
        font-size: medium;
    }

    h3 {
        font-size: 15px;
    }



    .imageHolderDiv>img {
        margin: 10px 0 10px;
        width: 100%;
        border-radius: 10px;
    }

    .main__section {
        width: 85%;
        margin: 0;
    }

}

@media screen and (max-width:1050px) {

    header {
        background-color: var(--main_color);
    }

    .Container_Header>div {
        display: none;
    }


}