:root {

    --main_color: #e60012;
    --second_color: #484848;
    --background_white: white;
    --dark_main_color: #ac000d;
}



body {
    background-color: var(--background_white);
}

h2,
h3,
p {
    color: var(--second_color);
}


header {
    border-bottom: var(--second_color) solid 1px;
}

.searchBtn {
    background-image: url(./assets/search.svg);
    background-repeat: no-repeat;
    background-position: 10px 4px;
    text-align: left;
    padding: 0 15px 0 35px;
    border-style: none;
    border-radius: 15px;
}

.storeLogo {
    background-color: var(--main_color);
    padding: 10px;
    width: 215px;
}

#anchoredHeaderElement__login {
    border: solid var(--main_color);
    border-radius: 40px;
}

#anchoredHeaderElement__login>h3 {
    color: var(--main_color);
}

.iconsImg {
    filter: invert(16%) sepia(59%) saturate(6287%) hue-rotate(348deg) brightness(86%) contrast(115%);
    height: 15px;
}

#anchoredHeaderElement__hearth {
    filter: invert(27%) sepia(14%) saturate(15%) hue-rotate(353deg) brightness(94%) contrast(90%);
}

hr {
    background-color: var(--second_color);
    height: 1px;
    width: 100%;
}

.anchoredButton {
    background-color: var(--main_color);
    text-decoration: none;
    color: var(--background_white);
}

.linkStyle,
li>a {
    color: var(--main_color);
    text-decoration: none;
}

.footer_logo {
    background-color: var(--main_color);
    height: 80px;
    width: 100%;
}

.logo_css {
    color: var(--background_white);
    border: solid 7px;
    border-radius: 55px;
    padding: 0 10px 0 10px;
}

ul {
    border-left: solid 1px var(--second_color)
}

li {
    list-style: none;
}

.second_footer {
    background-color: var(--second_color);
    padding-bottom: 200px;
}

@media screen and (max-width:600px) {

    ul {
        border: none;
    }

    .storeLogo {
        background-color: var(--main_color);
        padding: 10px;
        width: 180px;
    }


}

@media screen and (min-width: 1050px) {

    .navMobileContainer {
        display: none;
    }

    .navMobile {
        display: none;
    }

}

@media screen and (max-width: 1050px) {

    .navMobileContainer {
        display: flex;

    }

    .navMobile {
        display: none;
    }

}



.navMobileContainer {
    justify-content: center;
}

.navMobile {
    width: 90%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    bottom: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: #0000006b 0 4px 8px;

}

.navMobile>a {
    margin: 10px;
}

.navMobile>a>img {
    height: 40px;
    transition: transform 0.3s;
    transform: scale(1);

}

#bigBtn {
    height: 70px;
    padding: 5px;
    border-radius: 50%;
    background-color: #e60012;
}

.navMobile>a>img:hover {
    transition: transform 0.3s;
    transform: scale(1.2);
    cursor: pointer;
}